DB_URL=
DB_USERNAME=
DB_PASSWORD=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

JWT_SECRET=

ADMIN_USERNAME=
ADMIN_PASSWORD=

OPENAI_API_KEY=
GROQ_API_KEY=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=